.container
{
	margin: 0 auto;
	width: 712px;
	height: 512px;
}

.container > .game-message
{
	width: 512px;
	height: 512px;
	position: absolute;
	display: none;
	z-index: 100;
}
.container > .game-message.show
{
	display: table;
}

.game-message > .message-container
{
	display: table-cell;
    vertical-align: middle;
}

.message-container > *
{
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.message-container > *.show
{
	display: block;
}

.message-container > .game-over
{
	text-transform: uppercase;
	border-radius: 4px;
	background: #FF9999;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: black;
	text-align: center;
	font-family: "Trebuchet MS";
	width: 256px;
	padding: 6px 0px;
}

.message-container .lower
{
	margin-top: 8px;
}

.game-over .retry-button
{
	border-radius: 4px;
	background: #FF1919;
	font-size: 18px;
	line-height: 18px;
	padding: 3px 3px;
	display: inline-block;
	cursor:pointer;
}

.container > .game-container
{
	position: absolute;
	width: 504px;
	height: 504px;
	border-radius: 4px;
	background: #E8E8E8;
	padding: 4px 4px;
}

.container > .side-container
{
	float: right;
	width: 192px;
	height: 512px;
}

.score-container, .best-score-container
{
	border-radius: 4px;
	background: #E8E8E8;
	font-weight: bold;
	color: black;
	text-align: center;
	font-family: "Trebuchet MS";
	padding: 4px 0px;
	margin-bottom: 8px;
}

.score-container:before, .best-score-container:before
{
	width: 100%;
	position: relative;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: black;
}

.score-container:before
{
	content: "Current"; 
}

.best-score-container:before
{
  content: "Best";
}

.cents-container
{
	margin: auto 0;
	width: 100%;
	position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: black;
}

#score.stat, #best-score.stat
{
	font-size: 24px;
}

#level-level.stat, #level-room.stat, #best-level-level.stat, #best-level-room.stat
{
	font-size: 16px;
}

#total.stat, #correct.stat, #best-skill.stat
{
	font-size: 16px;
}

.stat
{
	display: inline-block;
}

.item .item-in, .item-made .item-in
{
	border-radius: 4px;
	position: absolute;
	width: 110px;
	height: 110px;
	border-width: 4px;
	line-height: 104px;
	border-style: outset;
}

.at-t-1
{
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.at-t-2
{
	-webkit-transform: translate(126px, 0px);
	-moz-transform: translate(126px, 0px);
	transform: translate(126px, 0px);
}
.at-t-3
{
	-webkit-transform: translate(252px, 0px);
	-moz-transform: translate(252px, 0px);
	transform: translate(252px, 0px);
}
.at-t-4
{
	-webkit-transform: translate(378px, 0px);
	-moz-transform: translate(378px, 0px);
	transform: translate(378px, 0px);
}
.at-b-1
{
	-webkit-transform: translate(0px, 378px);
	-moz-transform: translate(0px, 378px);
	transform: translate(0px, 378px);
}
.at-b-2
{
	-webkit-transform: translate(126px, 378px);
	-moz-transform: translate(126px, 378px);
	transform: translate(126px, 378px);
}
.at-b-3
{
	-webkit-transform: translate(252px, 378px);
	-moz-transform: translate(252px, 378px);
	transform: translate(252px, 378px);
}
.at-b-4
{
	-webkit-transform: translate(378px, 378px);
	-moz-transform: translate(378px, 378px);
	transform: translate(378px, 378px);
}

.red .item-in
{
	background: #FF0000;
	border-color: #FF0000;
}
.green .item-in
{
	background: #33CC33;
	border-color: #33CC33;
}
.blue .item-in
{
	background: #0066CC;
	border-color: #0066CC;
}
.yellow .item-in
{
	background: #FFFF00;
	border-color: #FFFF00;
}

.item, .item-made
{
	position: absolute;
	width: 118px;
	height: 118px;
	padding: 4px 4px;
}

.item-made.wait, .item-made.wait-full
{

}
.item-made.wait .item-in, .item-made.wait-full .item-in
{
	background: #D6D6D6;
	border-color: #D6D6D6;
	border-style: inset;
}

.item-made.go
{

}
.item-made.go .item-in
{

}

.item-made.bad
{

}

.item-made.bad .item-in
{
	border-color: #808080;
}

.initial-start
{
	-webkit-transform: translate(189px, 378px);
	-moz-transform: translate(189px, 378px);
	transform: translate(189px, 378px);
}

.information
{
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	color: black;
	text-align: left;
	font-family: "Trebuchet MS";
}

.information-title
{
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: black;
	text-align: center;
	font-family: "Trebuchet MS";
}
